<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>32BA1542-C513-4870-937A-A616172A4A1A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aone</string>
			<key>text</key>
			<string>在aone中查找“{query}”</string>
			<key>url</key>
			<string>https://lstops.alibaba-inc.com/appListRedirect?appName={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>422416CB-AA12-4103-AC8C-4E163D621400</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ali</string>
			<key>text</key>
			<string>在阿里内外查“{query}”</string>
			<key>url</key>
			<string>https://work.alibaba-inc.com/work/search?keywords={query}&amp;type=person</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>59CB096C-51A5-4FB0-B0A4-2EFD3B3AA9B1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>search github for "{query}"</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5A95AF2B-BA84-4F9C-BFEA-209BB25BCBB0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>在百度查找“{query}”</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5C8D6222-F700-4537-874D-4FD9DDD43115</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>td</string>
			<key>text</key>
			<string>在土豆优酷查找“{query}”</string>
			<key>url</key>
			<string>http://www.soku.com/v?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>621B9F45-1204-4957-8569-D695632CFE20</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zhihu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>在知乎上查找“{query}”</string>
			<key>url</key>
			<string>http://www.zhihu.com/search?q={query}&amp;type1=all</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>81C83C38-1B81-490D-8DC2-0BBA5DB17E41</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search NPM for '{query}'</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9072F22D-9979-419A-89C7-D9E372EE7B20</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tnpmd</string>
			<key>text</key>
			<string>Search AliNpm Detail for '{query}'</string>
			<key>url</key>
			<string>http://web.npm.alibaba-inc.com/package/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9493E7BD-D11B-498A-8882-FEB38C7B653F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tnpm</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search AliNpm for '{query}'</string>
			<key>url</key>
			<string>http://web.npm.alibaba-inc.com/package/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A53B438A-F528-4B98-AF24-2BF7D152371F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl</string>
			<key>text</key>
			<string>gitlab项目搜索</string>
			<key>url</key>
			<string>http://gitlab.alibaba-inc.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B648A3DD-14D6-4933-B09D-85CB761EBED9</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>sp</string>
			<key>text</key>
			<string>打开零小宝页面</string>
			<key>url</key>
			<string>http://sp.wapa.taobao.com:3000/pages/{query}/index.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D73DBFF2-E844-4773-9022-1D57EEC7976C</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>youdao</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>在有道搜索“{query}”</string>
			<key>url</key>
			<string>http://dict.youdao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D8D80DC5-9C14-4DF7-AE25-0B3EDB645F2A</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>bing</string>
			<key>text</key>
			<string>Search Bing for "{query}"</string>
			<key>url</key>
			<string>http://cn.bing.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E783F8F5-3C84-4BE2-B8CA-72D521B333D7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>detail</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>在1688全站detail中搜索offerId={query}</string>
			<key>url</key>
			<string>https://detail.1688.com/offer/{query}.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ECA54F2F-21F1-430C-B31C-D876730010F1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jqbug</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>在jQuery的bug列表中查询#{query}</string>
			<key>url</key>
			<string>https://bugs.jquery.com/ticket/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F9A76C7D-26D9-479C-8E9C-DAA53CB468E2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wing</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>{query}的wing调试地址</string>
			<key>url</key>
			<string>http://{query}.wapa.taobao.com:10000/{query}/page/index.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FAD8E7CD-7E95-4AA9-AFB5-F1116D38EB45</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>在淘宝搜索“{query}”</string>
			<key>url</key>
			<string>http://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
